@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #151819;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  margin: 0;
}

.search-all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.search-title {
  color: gray;
  font-size: 28;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.search-bar .search-input {
  background-color: #fff;
  border: 0;
  border-radius: 50px;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 400px;
}

.search-bar .search-button {
  background-color: white;
  margin: 5px;
  color: #151819;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
}
